
.nav {
 background-color: gray;
 display: flex;
 position: fixed;
 top: 0px;
 width: 100%;
 justify-content: space-between;
}

.logo {

}
.navbar {
padding-right: 16px;
}

.header {
    margin-top: 60px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}
.header1 {
    width: 40%;
    height: 440px;
}
.header2 {
    width: 33%;
    height: 40%;
    flex-grow: 2;
    padding-left: 10px;
}
.main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.main1 {
    background-color: gray;
    border: solid yellow 3px;
    border-radius: 20px;
}
.main1, .main2 {
    flex-basis: 33%;
    text-align: center;
}
.main3 {
    flex-basis: 50%;
    padding-top: 30px;
}
.main4 {
    padding-top: 30px;
    display: flex;
    flex-flow: row nowrap;
    background-color: rgb(179, 179, 179);
    border: solid yellow 3px;
    border-radius: 10px;
}
ul {
    margin-right: 5px;
    padding-left: 15px;
}
.pizza1img, .pizza2img, .pizza3img, .pizza4img {
    width: auto;
    height: fit-content;
}
h2, h1 {
    background-color: rgb(255, 255, 255);
    border: solid yellow 3px;
    border-radius: 3px;
    text-align: center;
}

