.carosello {
position: relative;
top: 65px;
max-width: 1000px!important;
}
.bordo-lettera {
    text-shadow: -1px 0 #000, 0 2px #000, 2px 0 #000, 0 -1px #000;
}
.main {
    position: relative;
    top: 80px;
}
.card-title {
    background-color: rgb(196, 44, 44)!important;
    border: solid black 2px;
    border-radius: 3px;
}
ul {
    list-style: none;
    color: yellow;
    font-style: italic;
}
.footer {
    position: relative;
    top:80px;
}