.nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
}
div#aulab {
   padding: 0px;
   margin: 0px;
}
div#aulab 

div#navbar  ul li {
  position: relative;
  list-style: none;
  display: inline-block;
}

 div#navbar li ul {
    display: none;
 }

 div#navbar li:hover ul {
    display: block;
    position: absolute;
    padding: 0;
 }
 
