
.vetro {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.507);
    width: 182px;
    height: 580px;
    z-index: 2000;
    transition: all 2.5s;
    border: solid rgba(255, 255, 255, 0.589);
    border-radius: 13px;
}

body:hover .vetro {
    transform: translateY(559px);
}

.left {
    width: fit-content;
    height: 100%;
    align-content: flex-start;
}

nav ul {
    list-style: none;
}

.accordion1 {
 border: solid rgba(255, 255, 255, 0.165) 1px;
 border-radius: 10px;
}

.header {
   height: 300px!important;
}
@media only screen and (min-width: 768px) {
.navbar-toggler {
    display: none;
}
#navbarScroll {
    display: block;
}
}
.display {
    display: inline;
}
@media only screen and (max-width: 768px) {
    i {
        display: none;
    }
    .vetro {
        width: 166px;
        height: 619px;
        border-radius: 10px;
    }
}
.navbar-toggler {
    width: 55px;
    height: 40px;
}
.accordion-button {
   padding-left: 5px!important;
   padding-right: 1px!important;
   padding-top: 10px!important;
   padding-bottom: 10px!important;
}