.nav {
    position: fixed;
    width: fit-content;
    height: 100%;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    transition: all 1.5s;
    z-index: 9;
}
.nav:hover {
    height: 617px;
  }  
#vetro {
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0.027);
    width: 135px;
    height: 617px;
    z-index: 10;
    border-radius: 20px;
    transition: all 1.5s;
    border-top: 0px;
    border-right: solid rgb(48, 48, 48) 3px;
    border-left: solid rgb(53, 53, 53) 3px;
    border-bottom:0px;
}
.nav a {
    border: solid transparent 1.5px;
    border-radius: 10px;
    padding-right: 5px!important;
    padding-left: 5px!important;
}
.nav a:hover {
    border: solid rgba(255, 187, 0, 0.459) 1px;
    border-radius: 10px;
}
.accordion-item{
    border: 0px;
}

#nav-tab {
  opacity: 0.1;
  transition: all 2s;
}
.navbar:hover #nav-tab{
    opacity: 1;
}
.navbar:hover #vetro{
    transform: translateY(618px);
    background-color: rgb(255, 255, 255);
    border-radius: 0;
    border: 0px;
}
#main {
    position: absolute;
    top: 0px;
    left: 140px;
    right: 5px;
    z-index: 0!important;
}
#main > div {
    width: 100%;
    min-height: 100%;
}
.Sticky {
  padding: 10px 16px;
  background: #3f3f3f70;
  color: #f1f1f1;
  border: solid rgba(0, 0, 0, 0.411) 3px;
  border-radius: 10px;
}
header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    border: solid rgb(255, 255, 255) 5px;
  }
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  header .container {
    position: relative;
    z-index: 2;
  }
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  /* Media Query for devices withi coarse pointers and no hover functionality */
  
  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
  
    header video {
      display: none;
    }
  }
